<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>821705159877-bo8c1vuoasjvru4u1jsd76hf4pd10qht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.821705159877-bo8c1vuoasjvru4u1jsd76hf4pd10qht</string>
	<key>API_KEY</key>
	<string>AIzaSyABZ4j2lwIC_v7rTWZ-LuK48QOZXDg42Ts</string>
	<key>GCM_SENDER_ID</key>
	<string>821705159877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.option.mipata</string>
	<key>PROJECT_ID</key>
	<string>mi-pata-app</string>
	<key>STORAGE_BUCKET</key>
	<string>mi-pata-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821705159877:ios:57b766d03232df8c</string>
	<key>DATABASE_URL</key>
	<string>https://mi-pata-app.firebaseio.com</string>
</dict>
</plist>